* {
	font-size: 3vw;
}

#battle {
	width: 100%;
	border: none;
}

.sprite-container > * {
	margin: 0 5px;
}

.sprite {
	height: 90%;
}

.status {
	width: 50%;
}

#actinfo p {
	font-size: 4vw;
}

.actbtn {
	font-size: 3.5vw;
}

#answer {
	flex-direction: column;
}

#answer > * {
	margin: auto 0;
	width: auto;
	flex-basis: 18%;
}

#cheese-ball {
	width: 75px;
}