* {
	font-size: 3vw;
}

#battle {
	width: 100%;
}

.container {
	padding: 15px;
}

.sprite-container > * {
	margin: 0 5px;
}

.sprite {
	height: 90%;
}

.status {
	width: 50%;
}

#actinfo p {
	font-size: 4vw;
}

.actbtn {
	font-size: 3.5vw;
}

#answer {
	flex-direction: column;
}

#answer > * {
	margin: auto 0;
	width: auto;
	flex-basis: 18%;
}

.pop-up {
	width: 95vw;
}

#start-container > * {
	width: 100% !important;
	box-sizing: border-box;
}

#past-container .wrapper > * {
	flex-basis: 95%;
}

#past-container .wrapper{
	padding: 5px;
}

#cheese-ball {
	width: 100px;
}