* {
	margin: 0;
	padding: 0;
	transition-duration: .2s;
	transition-timing-function: ease-in;
}

body {
	width: 100vw;
	height: 100vh;
}

div {
	box-sizing: border-box;
	border: 2px solid red;
	display: flex;
}

#root {
	height: 100%;
	width: 100%;
	min-height: 400px;
	min-width: 300px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	background-color: #ACDEFD;
}

.container {
	display: flex;
	overflow: hidden;
}

#battle, #question-container {
	padding: 25px;
	margin-bottom: 0;
}

/*battling*/
#battle {
	margin: auto;
	height: 100%;
	width: 75%;
	min-width: 400px;
	min-height: 300px;
	border: 5px solid green;
	display: flex;
	justify-content: space-around;
	background-color: lightgreen;
	flex-direction: column;
}

#battle > div {
	padding: 10px;
	flex-basis: calc(100%/3);
	margin: 5px 0;
}

#battle > #battle-scene {
	flex-basis: calc(100%/3*2);
	width: 100%;
	overflow: auto;
	flex-direction: column;
	margin-bottom: 0;
}

#battle-scene > div {
	flex-basis: 50%;
}

.sprite-container {
	display: flex;
	height: calc(100%/3);
}

.sprite-container > * {
	margin: 0 1%;
}

.sprite {
	height: 110%;
	max-height: 200px;
	min-height: 90%;
	z-index: 3;
	overflow: visible;
}

.sprite > img {
	height: 100%;
	width: auto;
}

#enemy-container {
	justify-content: flex-start;
	align-items: flex-start;
}

#player-container {
	justify-content: flex-end;
	align-items: flex-end;
}

.healthbar {
	width: 30%;
	min-width: 130px;
	height: 40px;
	border-radius: 10px;
	overflow: hidden;
}

.hpdisplay {
	width:  100%;
	height: 100%;
	border-color: hotpink;
	background-color: deeppink;
}

#player-container > * > .hpdisplay {
	margin-left: auto;
}

#battle > #actions {
	display: flex;
	margin-top: 0;
	padding: 5px;
}

#actions > * {
	flex-wrap: wrap;
	justify-content: center;
	flex-basis: 50%;
	margin: 0 calc(1%/3);
}

#actinfo {
	border-radius: 10px;
}

#actopt {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 8px
}


/* event question */
#question-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 70%;
	aspect-ratio: 2;
	border: 5px solid yellow;
	z-index: 1;
	background-color: lightgoldenrodyellow;
	flex-direction: column;
	display: none;
}

#question-container > * {
	border: 2px solid red;
	margin: .5vh 0;
	text-align: center;
	padding: 1vh;
	display: flex;
	justify-content: space-between;
}

#question {
	flex-basis: 51%;
	flex-direction: column;
}

#question > img {
	max-height: 100%;
	margin: auto;
	display: block;
}


#answer {
	flex-basis: 26%;
	flex-wrap: wrap;
	justify-content: space-around;
}

#answer > * {
/*	flex-basis: 18%;*/
	margin: auto;
	height: 40%;
	aspect-ratio: 4;
}


#move {
	flex-basis: 9%;
	display: flex;
}